body {
  width: 100vw;
  height: 100vh;
}

#app{
  width:100vw;
  height:100vh;
}

div{
  width: 100%;
  height: 100%;
}

#budget-wrapper{
  width:100%;
  height:100%
}

#app {
  width: 100%;
  height: 100%;
}

.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 4rem;
  height: 2rem;
}

.welcome-page {
  width: 100%;
  height: 100%;
}

#welcome-create-budget-button {
  margin: 0 auto;
  width: 120px;
  height: 100px;
  text-align: center;
}

#my_dataviz {
  width: 100%;
  height: 100%;
}

#graph-container{
  width:100%;
  height:100%;
}

#title-bar{
  text-align: center;
  height:100px
}

