body {
  font-family: 'Roboto', sans-serif !important;
}

#title {
width: 100vw; 
position: fixed;
top: 0;
z-index: 100;
padding-top: 25px !important;
padding-bottom: 25px !important;
max-height: 100px;
}

#app {
  margin: 100px 0px;
}

.waitIndicator {
  width: 100%;
  height: auto;
  max-width: 70px;

}

.footer {
  padding: 30px;
  height: 100px;
  width: 100%;
  text-align: right;
  color: #002455;
  background-color: #64cda3;
  position: fixed;
  bottom: 0;
}

.socials {
  float: left;
  padding:10px;
}

img {
  padding: 0px 10px;
}

.welcomeMessage {
 font-size: 1.8rem;
 border: 1px solid red;
 color:#002455;
 padding-right: 20px;
 margin-top: 20px;
}
