#title {
width: 100vw; 
position: fixed;
top: 0;
z-index: 100;
}

#app {
  margin: 100px 0px 
}



.footer {
  padding: 30px;
  height: 100px;
  width: 100%;
  text-align: right;
  color: #002455;
  background-color: #64cda3;
  position: fixed;
  bottom: 0;
}

.socials {
  float: left;
  padding:10px;
}

img {
  padding: 0px 10px;
}

.inputWarning {
  color: rgb(228, 95, 95);
  font-size: 1rem;
}
